<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
    
    <hibernate-configuration>
    	<session-factory>
    		<property name="hibernate.hbm2ddl.auto">update</property>
    		
    		<mapping class="pl.agh.edu.carecenter.server.domain.TestDomainObject"/>
    		<mapping class="pl.agh.edu.carecenter.server.domain.Account"/>
    		<mapping class="pl.agh.edu.carecenter.server.domain.AccountRole"/>
    		<mapping class="pl.agh.edu.carecenter.server.domain.Activity"/>
    		<mapping class="pl.agh.edu.carecenter.server.domain.ActivityCarePlan"/>
    		<mapping class="pl.agh.edu.carecenter.server.domain.ActivityCategory"/>
    		<mapping class="pl.agh.edu.carecenter.server.domain.Alarm"/>
    		<mapping class="pl.agh.edu.carecenter.server.domain.CarePlan"/>
    		<mapping class="pl.agh.edu.carecenter.server.domain.Doctor"/>
    		<mapping class="pl.agh.edu.carecenter.server.domain.Patient"/>
    		<mapping class="pl.agh.edu.carecenter.server.domain.Report"/>
    		<mapping class="pl.agh.edu.carecenter.server.domain.PatientCarePlan"/>
    		<mapping class="pl.agh.edu.carecenter.server.domain.Group"/>
    		
    	</session-factory>
    </hibernate-configuration>